*,
::after,
::before {
    box-sizing: border-box;
    font-family: "Lora", serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(231, 104, 163, 0.815), rgba(34, 13, 109, 0.796));
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
}


.input-fields {
    grid-column: 1 / -1;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-field {
    font-size: 1.5rem;
    color: lightgrey;
}

.current-field {
    font-size: 2rem;
}

.calculator-grid > button {
    cursor: pointer;
    border: 1px solid #353535;
    background: #f8bad4;
    color: #353535;
    font-size: 2rem;
    outline: none;
}

.span-two {
    grid-column: span 2;
}

button:hover {
    background: #e768a3;
    color: white;
}